<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSurge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DataSurge.Properties.Settings>
            <setting name="MainColor" serializeAs="String">
                <value>#059401</value>
            </setting>
            <setting name="MainColor50" serializeAs="String">
                <value>#50059401</value>
            </setting>
            <setting name="MainColor42" serializeAs="String">
                <value>#42059401</value>
            </setting>
            <setting name="MainColor95" serializeAs="String">
                <value>#95059401</value>
            </setting>
            <setting name="SecondaryColor" serializeAs="String">
                <value>#FFFFFFFF</value>
            </setting>
            <setting name="ExitColor" serializeAs="String">
                <value>#810510</value>
            </setting>
            <setting name="TitleColor" serializeAs="String">
                <value>#4db5a7</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>#E8E8E8</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>#090c0f</value>
            </setting>
            <setting name="WarningColor" serializeAs="String">
                <value>#f9b302</value>
            </setting>
            <setting name="EncryptionKey" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="ToolbarWarning" serializeAs="String">
                <value>False</value>
            </setting>
        </DataSurge.Properties.Settings>
    </userSettings>
</configuration>